<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gast-Login</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
  <style>
    .superSecret{
      color: transparent;
    }
    .superSecret:hover{
      color: black;
    }
  </style>
</head>
<body>
<section class="vh-100" style="background-color: #cdebf9">
  <div class="container">
    <header class="d-flex align-items-center justify-content-center justify-content-md-between py-3 border-bottom flex-grow-1">
      <a href="/" class="d-flex flex-grow-0 align-items-center">
        <img class="bi me-2" width="60" src="../static/media/homepage_washing_machine.png" th:src="@{media/homepage_washing_machine.png}">
      </a>

      <div class="col-md-3 text-end justify-content-evenly flex-grow-1">
        <a th:href="@{/register}" class="btn btn-primary m-1">Registrieren</a>
        <a th:href="@{/login}" class="btn btn-outline-primary m-1">Anmelden</a>
        <a th:href="@{/guest}" class="btn btn-outline-primary m-1">Als Gast anmelden</a>
      </div>
    </header>
  </div>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h3 class="text-start" >Du hast dich soeben registriert!</h3>
            <div class="fs-5">Dein Passwort lautet: <span class="superSecret" th:text="${password}"></span></div>
            <div class="fs-5">Du kannst dich nun
            </div>
            <a th:href="@{/login}" class="btn btn-primary m-1">Anmelden</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>